/* -- fuentes ------------------------------------------ */
/* ----------------------------------------------------- */
@font-face {
    font-family: fuenteLogo;
    src: url("../font/PermanentMarker-Regular.ttf");
}

@font-face {
    font-family: fuenteGeneral;
    src: url("../font/Poppins-Regular.ttf");
}

/* -- configuraciones generals ------------------------- */
/* ----------------------------------------------------- */
:root {
    --colorBase01: rgb(0, 0, 0);
    --colorBase02: rgb(255, 255, 255);
    --colorBase03: rgb(102, 102, 102);

    --color01: rgb(32, 148, 243);
    --color02: rgb(255, 102, 102);
    --color03: rgb(255, 255, 89);
    --color04: rgb(0, 255, 255);
}

body {
    font-family: fuenteGeneral;
    font-size: 16px;
    color: var(--colorBase01);
    overflow-x: hidden;
}

a {
    color: var(--colorBase02);
    text-decoration: none;
    font-size: 1rem;
}

/* -- btn componentes ---------------------------------- */
/* ----------------------------------------------------- */
.btnSection {
    display: grid;
    width: 200px;
    position: absolute;
    z-index: 9;
    text-align: center;
}

.btnSection > div {
    padding: 10px;
    cursor: move;
    z-index: 10;
    background-color: var(--color01);
    color: var(--colorBase02);
}

/* -- paralax ------------------------------------------ */
/* ----------------------------------------------------- */
.paralax {
    background-image: url("../img/img01.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--colorBase01);
    height: 100vh;
}

/* -- navBar ------------------------------------------- */
/* ----------------------------------------------------- */
.navBar-contenedor {
    background-color: var(--colorBase01);
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* Se usa con parallax */
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}

/* navBar-logo --------------------- */
.navBar-logo {
    display: flex;
    align-items: center;
    margin-left: 2rem;
}

.navBar-logo img {
    height: 3rem;
    margin-right: 1rem;
}

/* navBar-btn ---------------------- */
.navBar-btn {
    cursor: pointer;
    display: none;
    padding-right: 2rem;
}

.navBar-A, .navBar-B, .navBar-C {
    width: 2rem;
    height: 5px;
    background-color: var(--colorBase02);
    border-radius: 4px;
    margin: 6px 0;
    transition: 0.4s;
}

.navBar-btn_click .navBar-A {
    transform: translateY(11px) rotate(45deg);
    background-color: var(--color02);
}

.navBar-btn_click .navBar-B {
    opacity: 0;
}

.navBar-btn_click .navBar-C {
    transform: translateY(-11px) rotate(-45deg);
    background-color: var(--color02);
}

/* navBar-links -------------------- */
.navBar-links {
    margin-right: 2rem;
}

.navBar-links a {
    margin-left: 1rem;
}

.navBar-links a:hover {
    color: var(--color02);
}

/* navBar comportamineto ----------- */
@media (max-width: 767.98px) {
    .navBar-btn {
        display: block;
    }

    .navBar-links {
        position: fixed;
        display: grid;
        top: 60px;
        background-color: var(--colorBase01);
        text-align: center;
        width: 100%;
        left: 100%;
        transition: 0.4s;
    }

    .navBar-links_noOcultar {
        left: 0;
    }

    .navBar-links a {
        padding: 1rem;
    }
}

/* -- carrusel ----------------------------------------- */
/* ----------------------------------------------------- */
.carrusel-contenedor {
    display: flex;
    justify-content: center;
    align-items:  center;
    min-height: 100vh;
    background: var(--colorBase01);
}

.box {
    position: relative;
    width: 100px;
    height: 100px;
    transform-style: preserve-3d;
    animation: anim 15s linear infinite;
}

@keyframes anim {
    0% {
        transform: perspective(1000px) rotateY(0deg);
    }
    100% {
        transform: perspective(1000px) rotateY(360deg);
    }
}

.box span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: center;
    transform-style: preserve-3d;
    transform: rotateY(calc(var(--i) * var(--deg))) translateZ(var(--z));
    -webkit-box-reflect: below 0px linear-gradient(transparent, transparent,#0004);
}

.box img {
    width: 100px;
    height: 100px;
}

/* -- galeria ------------------------------------------ */
/* ----------------------------------------------------- */
.galeria-contenedor {
    display: flex;
    width: 100%;
    height: 430px;
}

.galeria-contenedor img {
    width: 0;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .5s ease;
}

.galeria-contenedor img:hover {
    cursor: crosshair;
    width: 430px;
    opacity: 1;
    filter: contrast(120%);
}

/* -- tarjetas-exp ------------------------------------- */
/* ----------------------------------------------------- */
.tarjetasExp-contenedor {
    background-color: var(--colorBase01);
    padding: 1rem;
    display: grid;
    justify-content: center;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 12rem), 1fr));
}

.tarjetasExp {
    position: relative;
    min-height: 20rem;
    max-width: 12rem;
    background-color: var(--colorBase02);
    border: solid 1px var(--color01);
    margin: auto;
}

.tarjetasExp p {
    color: var(--color01);
    margin: 1rem;
    text-align: center;
}

.tarjetasExp-front {
    background-color: var(--color01);
    position: absolute;
    bottom: 0;
    height: 100%;
    width: 100%;
    transition: all 0.5s ease-in-out;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.tarjetasExp-front_achicar {
    height: 4rem;
}

.tarjetasExp-front p {
    margin: 0;
    color: var(--colorBase02);
}

/* -- footer ------------------------------------------- */
/* ----------------------------------------------------- */
footer {
    background-color: var(--colorBase03);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100% , 15rem), 1fr));
}

footer div {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    text-align: center;
}

footer p {
    font-size: 1.2rem;
    color: var(--color04);
}

/* ----------------------------------------------------- */
/* ----------------------------------------------------- */
/* ----------------------------------------------------- */
/* ----------------------------------------------------- */
/* ----------------------------------------------------- */
/* ----------------------------------------------------- */
