:root {
    --colorPrimario: black;
    --colorSecundario: white;
    --colorLinkHover: red;
}

.navBar01-contenedor {
    background-color: var(--colorPrimario);
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* Se puede usar mejor con parallax */
    /* position: sticky;
    position: -webkit-sticky;
    top: 0; */
}

/* navBar01-logo --------------------- */
.navBar01-logo {
    display: flex;
    align-items: center;
    margin-left: 2rem;
}

.navBar01-logo img {
    height: 3rem;
    margin-right: 1rem;
}

/* navBar01-btn ---------------------- */
.navBar01-btn {
    cursor: pointer;
    display: none;
    padding-right: 2rem;
}

.navBar01-A, .navBar01-B, .navBar01-C {
    width: 2rem;
    height: 5px;
    background-color: var(--colorSecundario);
    border-radius: 4px;
    margin: 6px 0;
    transition: 0.4s;
}

.navBar01-btn_click .navBar01-A {
    transform: translateY(11px) rotate(45deg);
    background-color: var(--colorLinkHover);
}

.navBar01-btn_click .navBar01-B {
    opacity: 0;
}

.navBar01-btn_click .navBar01-C {
    transform: translateY(-11px) rotate(-45deg);
    background-color: var(--colorLinkHover);
}

/* navBar01-links -------------------- */
.navBar01-links {
    margin-right: 2rem;
}

.navBar01-links a {
    margin-left: 1rem;
}

.navBar01-links a:hover {
    color: var(--colorLinkHover);
}

/* navBar01 comportamineto ----------- */
@media (max-width: 767.98px) {
    .navBar01-btn {
        display: block;
    }

    .navBar01-links {
        position: fixed;
        display: grid;
        top: 60px;
        background-color: var(--colorPrimario);
        text-align: center;
        width: 100%;
        left: 100%;
        transition: 0.4s;
    }

    .navBar01-links_noOcultar {
        left: 0;
    }

    .navBar01-links a {
        padding: 1rem;
    }
}

/* navBar01 + Parallax --------------- */
#navBar01Paralax {
    background-image: url("../img/img01.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rebeccapurple;
    height: 100vh;
}



